@model List<IPublishedContent>
@{
    var currentUrl = Request.Url?.AbsolutePath;
}
<ul id="breadcrumb">
    <li>
        <a href="/">Our</a>
    </li>
    @foreach (var page in Model)
    {
        if (page.ContentType.Alias == "ProjectGroup")
        {
            
            <li><a href="@page.Parent.Url?category=@HttpUtility.UrlPathEncode(page.Name)">@page.Name</a></li>
        }
		else if (!string.IsNullOrEmpty(currentUrl) && currentUrl.Equals(page.Url))
        {
            <li><a href="@Request.Url">@page.Name</a></li>
        }
        else
        {
            <li><a href="@page.Url">@page.Name</a></li>
        }
    }
</ul>