@using System.Configuration
@using OurUmbraco.Forum.Extensions
@using Tweetinvi
@using Tweetinvi.Models
@using Tweetinvi.Parameters
@using Umbraco.Core.Cache
@using Umbraco.Core.Logging
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    ITweet[] tweets = {};
    ITweet[] filteredTweets = {};
    try
    {
        tweets = ApplicationContext.ApplicationCache.RuntimeCache.GetCacheItem<ITweet[]>("UmbracoSearchedTweets",
            () =>
            {
                Auth.SetUserCredentials(ConfigurationManager.AppSettings["twitterConsumerKey"],
                    ConfigurationManager.AppSettings["twitterConsumerSecret"],
                    ConfigurationManager.AppSettings["twitterUserAccessToken"],
                    ConfigurationManager.AppSettings["twitterUserAccessSecret"]);
                var user = Tweetinvi.User.GetAuthenticatedUser();

                var searchParameter = new SearchTweetsParameters("umbraco") {SearchType = SearchResultType.Recent};
                return Search.SearchTweets(searchParameter).ToArray();
            }, TimeSpan.FromMinutes(1));
        
        // TODO: make configurable in Umbraco
        var usernameFilter = "Technologx,Technologx4Real,SOAzure,AdamSmith1,UriSamuels,coding_jobfeeds,TechSparkUk,ItProjectBoard,liveedutv,AdeboyejoAde,VivacitySocial".ToLowerInvariant().Split(',');
        var wordFilter = "exegesis,#Job Alert:".ToLowerInvariant().Split(',');

        filteredTweets = tweets.Where(
            x => x.CreatedBy.UserIdentifier.ScreenName.ToLowerInvariant().ContainsAny(usernameFilter) == false
            && x.Text.ToLowerInvariant().ContainsAny(wordFilter) == false).ToArray();
    }
    catch (Exception ex)
    {
        LogHelper.Error<ITweet>("Could not get tweets", ex);
    }
}

@if (filteredTweets.Any())
{
    <section class="forum">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h1 class="text-center">Twitter Activity</h1>
                    <p>
                        Recent activity on twitter, where people are talking about Umbraco.
                    </p>
                </div>
                <div class="col-md-12">
                    <small>Recent tweets</small>
                </div>

                <div class="col-md-12 flex">
                    @Column(filteredTweets)
                </div>

                <div class="col-md-12 goto-forum">
                    <a class="button green" href="https://twitter.com/search?f=tweets&vertical=default&q=umbraco&src=typd">Join the conversation on Twitter &rarr;</a>
                </div>

            </div>
        </div>
    </section>
}

@helper Column(ITweet[] tweets)
{
    foreach (var tweet in tweets.Take(6))
    {
        <a href="@tweet.Url" class="forum-thread">

            <div class="avatar">
                <img src="@tweet.CreatedBy.ProfileImageUrl400x400" />
            </div>

            <div class="meta">
                <div class="forum-thread-text">
                    <h3>@tweet.Text</h3>
                    <p>@tweet.CreatedAt.ConvertToRelativeTime() by @@@tweet.CreatedBy.UserIdentifier.ScreenName (@tweet.CreatedBy.Name)</p>
                </div>
            </div>
        </a>
    }
}