@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";

    var homeNotificationText = Model.Content.GetPropertyValue<string>("homeOnlyBanner");
    var showHomeNotification = string.IsNullOrWhiteSpace(homeNotificationText) == false;
    var globalNotificationText = Model.Content.GetPropertyValue<string>("mainNotification");
    var showGlobalNotification = string.IsNullOrWhiteSpace(globalNotificationText) == false;
}

<style>
    .bannertext p {
        line-height: 1.4rem;
    }
</style>

@if (showGlobalNotification)
{
    <div class="alertbar__yellow">
        @Html.Raw(globalNotificationText)
    </div>
}

@if (showHomeNotification)
{
    @Html.Raw(homeNotificationText)
}

<div class="has-sidebar">
    <div class="page-content">
        <div id="overlay" class="overlay"></div>
        @Html.Partial("~/Views/Partials/Community/Sidebar.cshtml")
        <div class="main-area">
            <div class="main-content">
                <div class="content-wrapper">
                    @Html.Action("Render", "Breadcrumb", new { linkToCurrent = true })

                    <div class="community-content">
                        @RenderBody()
                    </div><!-- .community-content -->
                </div><!-- .content-wrapper -->
            </div><!-- .main-content -->
        </div><!-- .main-area -->
    </div><!-- .page-content -->
</div>

@section EndScripts
{
    @Html.Partial("~/Views/Partials/Community/HubScripts.cshtml")
}