@using OurUmbraco.Forum.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    if (Members.IsTeamUmbraco() == false)
    {
        Response.Redirect("/");
    }
    var home = Model.Content.Site();
    var dashboard = home.Children().FirstOrDefault(x => x.Name == "Dashboard");

    @* 
        html template from : https://startbootstrap.com/themes/sb-admin-2/    
    *@

}<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@CurrentPage.Name | Umbraco Community Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark bg-white topbar mb-4 static-top shadow" style="background-color: #4e73df !important;">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="@home.Url" style="@(CurrentPage.Url == home.Url ? "color: white;" : null)">Back to Our Umbraco</a></li>
                        @if (dashboard != null)
                        {
                            foreach (var item in dashboard.Children())
                            {
                                <li class="nav-item"><a class="nav-link" href="@item.Url" style="@(item.Id == CurrentPage.Id ? "color: white;" : null)">@item.Name</a></li>
                            }
                        }
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@CurrentPage.Name</h1>
                    </div>
                    @RenderBody()
                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/dashboard/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/dashboard/vendor/chart.js/Chart.min.js"></script>
    
    @RenderSection("Scripts", false)

</body>

</html>