@using ClientDependency.Core.Mvc
@using Umbraco.Core.Configuration
@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    Layout = null;
    var model = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var bodyCss =
        model.Level > 2 && model.AncestorOrSelf(3).Id == 1057
            ? "profile has-sidebar"
            : model.DocumentTypeAlias.ToLower().Replace(" ", "-") + "-page";
    
    var memberIsBlocked = MemberData != null && MemberData.IsBlocked;


    Html.RequiresCss("~/assets/css/style.min.css", 0);
    Html.RequiresCss("https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic", 0);
    Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css", 0);


    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js");
    Html.RequiresJs("https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js");

    Html.RequiresJs("~/assets/js/jquery.ajaxfileupload.js");

    Html.RequiresJs("~/assets/js/jquery.scrolly.js");
    Html.RequiresJs("~/assets/js/lodash.min.js");
    Html.RequiresJs("~/assets/js/community.js");
    Html.RequiresJs("~/assets/js/app.min.js");
    Html.RequiresJs("~/assets/js/editor.min.js");

}<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="Latest packages" href="//our.umbraco.org/rss/projects" />
    <link rel="alternate" type="application/rss+xml" title="Package updates" href="//our.umbraco.org/rss/projectsupdate" />
    <link rel="alternate" type="application/rss+xml" title="Active forum topics" href="//our.umbraco.org/rss/activetopics" />
    <link rel="alternate" type="application/rss+xml" title="Community blogs" href="//pipes.yahoo.com/pipes/pipe.run?_id=8llM7pvk3RGFfPy4pgt1Yg&_render=rss" />

    <link rel="search" type="application/opensearchdescription+xml" title="our.umbraco.org" href="/scripts/OpenSearch.xml">

    <!-- Application name -->
    <meta name="application-name" content="Our Umbraco" />
    <meta name="apple-mobile-web-app-title" content="Our Umbraco">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" href="/assets/images/app-icons/icon-60.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/app-icons/icon-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/app-icons/icon-76.png">
    <link rel="icon" sizes="192x192" href="/assets/images/app-icons/touch-icon-192x192.png">

    <meta name="msapplication-TileImage" content="/assets/images/app-icons/tile.png" />
    <meta name="msapplication-config" content="/assets/images/app-icons/browserconfig.xml">

    <link rel="icon" type="image/png" href="/assets/images/app-icons/favicon.png">

    <title>
        @{
            var title = string.Empty;
            var navigationTitle = HttpContext.Current.Items["topicTitle"];
            if (navigationTitle != null)
            {
                title = navigationTitle.ToString();
            }

            if (string.IsNullOrWhiteSpace(title) == false)
            {
                <text>@title - </text>
            }
        }

        @Model.Content.Name - our.umbraco.org
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

    @Html.Partial("~/Views/Partials/Community/JsValues.cshtml")

    @Html.RenderCssHere()
    @RenderSection("HeadCssScripts", false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-120590-4', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- temp css for survery (will be removed during May 2017) -->
    <style>
            body {
                height: 100%;
                width: 100%;
                position: relative;
            }

            .unicorn-going-rouge {
                width: 300px;
                position: fixed;
                right: 0px;
                bottom: 0px;
                z-index: 100;
                -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }

            .rouge-unicorn {
                margin: 0 auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .rouge-unicorn-famous-words {
                background: white;
                padding: 20px;
                text-align: center;
            }

                .rouge-unicorn-famous-words h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .rouge-unicorn-famous-words p {
                    line-height: 1.5;
                }

                .rouge-unicorn-famous-words a {
                    color: #4ea7ff;
                }

            .speech-bubble {
                min-width: 300px;
                padding: 25px;
                border: 2px solid whitesmoke;
                position: absolute;
                top: 0;
                left: 0;
-webkit-box-shadow: 4px 4px 10px 7px rgba(219,219,219,0.28);
-moz-box-shadow: 4px 4px 10px 7px rgba(219,219,219,0.28);
box-shadow: 4px 4px 10px 7px rgba(219,219,219,0.28)
                -webkit-transform: translate(-100px, -75%);
                transform: translate(-100px, -75%);
            }

                .speech-bubble:before, .speech-bubble:after {
                    content: '';
                    height: 12px;
                    position: absolute;
                    top: 100%;
                }

                .speech-bubble:before {
                    width: 3px;
                    background-color: whitesmoke;
                    right: 10px;
                    border-bottom-left-radius: 50px;
                    border-bottom-right-radius: 100px;
                    -webkit-transform: rotateY(-160deg);
                    transform: rotateY(-160deg);
                }

                .speech-bubble:after {
                    width: 4px;
                    background-color: whitesmoke;
                    right: 16px;
                    border-bottom-left-radius: 100px;
                    border-bottom-right-radius: 50px;
                    -webkit-transform: skew(45deg, 0);
                    transform: skew(45deg, 0);
                }

                .speech-bubble > :first-child:after, .speech-bubble > :first-child:before {
                    content: '';
                    position: absolute;
                    background-color: white;
                    top: 100%;
                }

                .speech-bubble > :first-child:before {
                    width: 6px;
                    height: 3px;
                    right: 13px;
                }

                .speech-bubble > :first-child:after {
                    width: 5px;
                    height: 5px;
                    right: 16px;
                    -webkit-transform: skew(45deg, 0);
                    transform: skew(45deg, 0);
                }

            @@-webkit-keyframes fadeIn {
                from {
                    -webkit-transform: translate3d(0, 200%, 0);
                    transform: translate3d(0, 200%, 0);
                }

                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            }

            @@keyframes fadeIn {
                from {
                    -webkit-transform: translate3d(0, 200%, 0);
                    transform: translate3d(0, 200%, 0);
                }

                to {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            }
    </style>
</head>

<body class="@bodyCss">
    @Html.Partial("~/Views/Partials/Members/QuickMenu.cshtml")

    <div class="wrapper">
        <header>
            <div class="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="/">Our Umbraco</a>
                        </div>
                        <div id="toggle" class="menu-toggle">
                            <a href="#" class="toggle cross"><span></span></a>
                        </div>
                        <nav class="col-md-9">
                            @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        @{
            if (memberIsBlocked == false)
            {
                @Html.Partial("~/Views/Partials/Global/AlertBar.cshtml")
                @RenderSection("Search", false)
                @RenderBody()
            }
            else
            {
                <section class="forum">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center">Computer says no</h1>
                                <p>Unfortunaly, it seems that your account has been blocked.</p>
                            </div>
                        </div>
                    </div>
                </section>
            }
        }

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        Our.umbraco.org is the community mothership for Umbraco, the open source asp.net cms. With a friendly forum for all your questions, a comprehensive documentation and a ton of packages from the community.
                        @if (HttpContext.Current != null && HttpContext.Current.Request.UserAgent != null && HttpContext.Current.Request.UserAgent.ToLower().Contains("googlebot"))
                        {
                            <text>This site is running Umbraco.</text>
                        }
                        else
                        {
                            <text>This site is running</text> <data id="umbraco-version" value="@UmbracoVersion.GetSemanticVersion()">Umbraco version @UmbracoVersion.GetSemanticVersion()</data>
                        }
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!--.wrapper-->

    <!-- temp survey markup - will be removed April 22nd 2016 -->
    <div id="unicornSurvery" class="unicorn-going-rouge" style="display: none;">
        <div class="rouge-unicorn">
            <img src="/assets/images/crap-anim.gif" alt="" />
        </div>

        <div class="rouge-unicorn-famous-words speech-bubble">
            <h2>Let's make Umbraco better!</h2>
            <p>Ilham from the HQ is writing her Master’s thesis on Open Source Software and the dynamics within Our. It'll help us all, so please spend a max of ten minutes on this <a href="javascript:unicornClick();">survey</a> and I'll promise I'll disappear too.</p>
        </div>
    </div>

    @Html.RenderJsHere()

    <script type="text/javascript">
        classOnScroll('header', 'sticky', 10);
    </script>

    @RenderSection("EndScripts", false)
    <!-- temp survey script - will be removed during May 2017 -->
    <script type="text/javascript">
                function unicornClick() {
                    // set cookie
                    document.cookie = 'contribSurveyTaken=true; expires=Wed, 1 Jan 2020 20:47:11 UTC; path=/';
                    document.getElementById("unicornSurvery").style.display = 'none';
                    var win = window.open('https://www.survey-xact.dk/LinkCollector?key=KRDR4J3C9136', '_blank');
                    win.focus();
                }

                // test for cookie
                $(document).ready(function () {
                    if (document.cookie.indexOf("contribSurveyTaken") == -1) {
                        // don't show on mobile devices
                        var ua = navigator.userAgent;
                        if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobile|mobile|CriOS/i.test(ua)) {

                            document.getElementById("unicornSurvery").style.display = 'block';
                        }
                    }
                });
    </script>
</body>
</html>
