@using OurUmbraco.Our.Extensions
@using OurUmbraco.Our.Models
@using OurUmbraco.Our.Services
@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";

    var downloads = Model.Content.Children().Where(x => x.ContentType.Alias == "ReleaseDownload").ToArray();
    if (Request.Params["fromdownload"] != null)
    {
        if (downloads.Any())
        {
            var downloadIds = new List<int>();
            foreach (var item in downloads)
            {
                downloadIds.Add(item.Id);
            }
            Response.Redirect("/ReleaseDownload?id=" + downloadIds.First(), false);
        }
    }

    var currentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;

    var releasesService = new ReleasesService();
    var releases = releasesService.GetReleasesCache();
    var release = releases.FirstOrDefault(x => x.Version == currentPage.Name);

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var releaseContent = umbracoHelper.TypedContent(umbracoHelper.UmbracoContext.PageId);
    if (releaseContent != null)
    {
        var overrideDescription = releaseContent.GetPropertyValue<bool>("overrideYouTrackDescription");
        if (overrideDescription)
        {
            release.ReleaseDescription = releaseContent.GetPropertyValue<string>("bodyText");
        }
        var overrideReleaseDate = releaseContent.GetPropertyValue<DateTime>("overrideYouTrackReleaseDate");
        if (overrideReleaseDate != default(DateTime))
        {
            release.ReleaseDate = overrideReleaseDate;
        }
    }
}

<div class="has-sidebar release">
    <div class="page-content">
        <div class="sidebar-area">
            <div class="sidebar-content">
                <div class="content-wrapper">

                    <nav>
                        <ul class="level-1">
                            @foreach (var currentRelease in releases.Where(x => x.Released && x.LatestRelease))
                            {

                                <li>
                                    <a class="active" href="@Url.GetReleaseUrl(currentRelease)">
                                        <h3>Latest Release - v@(currentRelease.Version)</h3>
                                    </a>
                                </li>
                            }

                            <li>
                                <a href="/contribute/progress">
                                    <h3>In Progress</h3>
                                </a>
                            </li>
                            <li>
                                <a href="/contribute/releases">
                                    <h3>All Releases</h3>
                                </a>
                                <ul class="level-2">
                                    <li>
                                        <a href=""><h4>Umbraco 8</h4></a>
                                    </li>
                                    <li>
                                        <a href=""><h4>Umbraco 7</h4></a>
                                    </li>
                                    <li>
                                        <a href=""><h4>Umbraco 6</h4></a>
                                    </li>
                                    <li>
                                        <a href=""><h4>Umbraco 4</h4></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- .content-wrapper -->
            </div><!-- .sidebar-content -->
        </div>
        <div class="main-area">
            <div class="main-content">
                <div class="content-wrapper">
                    <div>
                        @Html.Action("Render", "Breadcrumb", new { linkToCurrent = true })
                    </div>
                    <style>
                        .release-page .explain h2 {
                            margin-top: 12px;
                            font-size: 2em;
                            margin-bottom: .3rem;
                            color: rgba(0,0,0,.8);
                        }

                        .release-page .dot {
                            border: none;
                        }

                            .release-page .dot.big {
                                position: relative;
                                text-indent: 0;
                                margin: 15px auto 0;
                            }

                        .release-page .chart {
                            height: 60px;
                            width: 60px;
                            top: initial;
                            left: initial;
                            text-align: center;
                        }

                            .release-page .chart p {
                                vertical-align: middle;
                                line-height: 3.7rem;
                                display: inline-block;
                            }

                            .release-page .chart canvas {
                                top: 0px;
                                left: 0px;
                            }

                        .statuses ul {
                            list-style-type: none;
                        }

                            .statuses ul li {
                                position: relative;
                                margin-bottom: 10px;
                                padding-left: 10px;
                            }

                        .statuses li:before {
                            position: absolute;
                            top: -4px;
                            left: -25px;
                            font-size: 1.5em;
                        }
                    </style>

                    <div class="row explain">
                        <div class="col-sm-2">
                            <span class="dot big progress">
                                <div class="chart" data-percent="@release.PercentComplete">
                                    <p>@(release.PercentComplete)%</p>
                                </div>
                            </span>
                        </div>
                        <div class="col-sm-10">
                            <h2>v@(Model.Content.Name)</h2>
                            <small>Status: <span>@(release.Released ? "Released" : "In Progress")</span></small>
                            @if (release.Released == false)
                            {
                                <h3>
                                    <span>@(release.PercentComplete)% complete</span>
                                    <span>@(100 - release.PercentComplete)% in progress</span>
                                </h3>

                                <h3>Target release date: <span style="color:#5B5B5B">@release.ReleaseDate.AsDisplayedReleaseDate()</span></h3>
                            }
                            else
                            {
                                <h3>Released on <span style="color:#5B5B5B">@release.ReleaseDate.AsDisplayedReleaseDate()</span></h3>
                            }

                            @if (Model.Content.HasValue("releaseNotes"))
                            {
                                <small><p>@Html.Raw(Model.Content.GetPropertyValue<string>("releaseNotes"))</p></small>
                            }
                        </div>
                    </div>
                    <div>
                        @{
                            var countIsOdd = ((downloads.Count() & 1) != 0) ? true : false;
                            if (downloads.Any())
                            {

                                <div class="get-release row">
                                    @foreach (var item in downloads)
                                    {
                                        var background = item.IsFirst() ? "/images/releases/download.png" : "/media/2483095/download.png";
                                        var width = (item.IsLast() && countIsOdd) ? 895 : 380;
                                        var numberOfDownloads = item.GetPropertyValue<int>("numberOfDownloads");
                                        numberOfDownloads = numberOfDownloads + OurUmbraco.Our.Utils.GetReleaseDownloadCount(item.Id);
                                        if (item.Name.Contains("WebPI") == false)
                                        {
                                            <div class="release @(item.IsFirst() == false ? "bin" : "zip") col-sm-1">
                                                <i class="icon-Download-alt"></i>
                                            </div>
                                            <div class="release @(item.IsFirst() == false ? "bin" : "zip") col-md-5">

                                                <h3><a href="/ReleaseDownload?id=@item.Id" onclick="_gaq.push(['_trackEvent', 'Release', 'Download', '@item.Name']);">@item.Name</a></h3>
                                                @if (item.IsFirst())
                                                {
                                                    <p>This is the main Umbraco download, generally you won't need anything else.</p>
                                                }
                                                <small>Downloaded @numberOfDownloads times - uploaded @(item.GetPropertyValue<DateTime>("UploadDate").ToString("D"))</small>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="display: none;"><a href="/ReleaseDownload?id=@item.Id" onclick="_gaq.push(['_trackEvent', 'Release', 'Download', '@item.Name']);">@item.Name</a></div>
                                        }
                                    }
                                </div>
                            }
                        }
                        <div class="row markdown-syntax">

                            <div class="col-md-5">

                                @if (release.ReleaseDescription != string.Empty && currentPage.HasValue("bodyText") == false)
                                {
                                    <span>
                                        <h2>Summary</h2>
                                        <p><span>@Html.Raw(release.ReleaseDescription)</span></p>
                                    </span>
                                }

                                @if (Model.Content.HasValue("bodyText"))
                                {
                                    <h2>Release notes</h2>
                                    @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
                                }

                                <h2>Related changes from the issue tracker</h2>
                                <div class="panel-wrapper">
                                    <div class="panel-left">
                                        <!-- Columns for statuses -->
                                        <div class="statuses group">
                                            <div class="status features">
                                                <h3>Features</h3>
                                                @{
                                                    var features = release.Features.ToList();
                                                    if (features.Any())
                                                    {
                                                        foreach (var issue in features)
                                                        {
                                                            <ul>
                                                                <li class="@issue.State.StateIcon()" title="@issue.State">
                                                                    @{
                                                                        var url = issue.Source == ReleaseSource.YouTrack 
                                                                            ? $"https://issues.umbraco.org/issue/{issue.Id}" 
                                                                            : $"https://github.com/umbraco/Umbraco-CMS/issues/{issue.Id}";
                                                                    }
                                                                    <a href="@url" target="_blank" rel="noreferrer noopener">@issue.Id - @issue.Title</a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>No items to display</p>
                                                    }
                                                }
                                            </div>
                                            <div class="status breaking">
                                                <h3>Breaking Changes</h3>
                                                @{
                                                    var breaking = release.Issues.Where(x => x.Breaking).ToList();
                                                    if (breaking.Any())
                                                    {
                                                        foreach (var issue in breaking)
                                                        {
                                                            <ul>
                                                                <li class="@issue.State.StateIcon()" title="@issue.State">
                                                                    @{
                                                                        var url = issue.Source == ReleaseSource.YouTrack
                                                                            ? $"https://issues.umbraco.org/issue/{issue.Id}"
                                                                            : $"https://github.com/umbraco/Umbraco-CMS/issues/{issue.Id}";
                                                                    }
                                                                    <a href="@url" target="_blank" rel="noreferrer noopener">@issue.Id - @issue.Title</a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>No items to display</p>
                                                    }
                                                }
                                            </div>
                                            <div class="status issues">
                                                <h3>Issues & Tasks</h3>
                                                @{
                                                    var issues = release.Issues.Where(x => x.Breaking == false).Except(release.Features).ToList();
                                                    if (issues.Any())
                                                    {
                                                        foreach (var issue in issues)
                                                        {

                                                            <ul>
                                                                <li class="@issue.State.StateIcon()" title="@issue.State">
                                                                    @{
                                                                        var url = issue.Source == ReleaseSource.YouTrack 
                                                                            ? $"https://issues.umbraco.org/issue/{issue.Id}" 
                                                                            : $"https://github.com/umbraco/Umbraco-CMS/issues/{issue.Id}";
                                                                    }
                                                                    <a href="@url" target="_blank" rel="noreferrer noopener">@issue.Id - @issue.Title</a>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>No items to display</p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-md-offset-2">
                                @if (currentPage.Name.StartsWith("8."))
                                {
                                    <h2>Frequently asked questions</h2>
                                    <p>We've put together some answers to often asked questions - <a href="https://our.umbraco.com/documentation/Umbraco8FAQ">you can find it in the Umbraco 8 - FAQ article</a>.</p>
                                }
                                <h2>Getting started</h2>

                                <p>Make sure to give the <a href="https://our.umbraco.com/documentation/Getting-Started/Setup/Install/">installation instructions a read</a>.</p>
                                @if (currentPage.Name.StartsWith("8."))
                                {
                                    <p>Check the <strong>free</strong> <a href="https://umbraco.tv/videos/umbraco-v8/">foundation videos</a> on how to get started building Umbraco sites.</p>
                                }
                                else
                                {
                                    <p>
                                        Check the <strong>free</strong> <a href="https://umbraco.tv/videos/umbraco-v7/implementor/">foundation videos</a> on how to get started building Umbraco sites. They're available from:<br />
                                        <ul>
                                            <li><a href="https://umbraco.tv/videos/umbraco-v7/implementor/fundamentals/installation/">Installation</a></li>
                                            <li><a href="https://umbraco.tv/videos/umbraco-v7/implementor/fundamentals/document-types/">Document Types</a></li>
                                            <li><a href="https://umbraco.tv/videos/umbraco-v7/implementor/fundamentals/templating/">Templating</a></li>
                                            <li><a href="https://umbraco.tv/videos/umbraco-v7/implementor/fundamentals/stylesheets-and-javascript/">Stylesheets and Javascript</a></li>
                                        </ul>
                                    </p>
                                }
                                <h2>World's best community</h2>
                                <p>You'll find our über active community working hard to help each other at Our Umbraco: <a href="https://our.umbraco.com">https://our.umbraco.com</a></p>
                                <h2>Upgrading from older versions</h2>
                                <p>Make sure to read the <a href="https://our.umbraco.com/documentation/getting-started/setup/upgrading/">upgrade instructions</a> before you attempt an upgrade.</p>


                                <h2>Found a bug?</h2>
                                <p>We're happy to help you with any problems you encounter, so please report them in <a href="https://github.com/umbraco/Umbraco-CMS/issues/new/choose">the issue tracker</a> and mention you're using version @Model.Content.Name. <br />Do a search first though, if the issue already exists, give it a "thumbs up".</p>

                                @if (Model.Content.HasValue("linkToChangeset"))
                                {
                                    <h2>Source code</h2>
                                    <p>The source for <a href="@(Model.Content.GetPropertyValue<string>("linkToChangeset"))">this specific release is available for download from the repository</a> (click the "ZIP" button).</p>
                                }

                                @if (Model.Content.GetPropertyValue<bool>("hasNuGet"))
                                {
                                    <h2>Also available on NuGet</h2>

                                    <div class="nuget-badge">
                                        <a href="https://nuget.org/packages/UmbracoCms/@Model.Content.Name">
                                            <p><code>PM&gt; Install-Package UmbracoCms -Version @Model.Content.Name</code></p>
                                        </a>
                                    </div>
                                }
                            </div><!-- col-md-5 col-md-offset-2 -->
                        </div><!-- .row .markdown-syntax -->
                    </div>
                </div><!-- .content-wrapper -->
            </div><!-- .main-content -->
        </div><!-- .main-area -->
    </div><!-- .page-content -->
</div><!-- has-sidebar -->

@section EndScripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.4/jquery.easypiechart.min.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            $('.chart').easyPieChart({
                size: 60,
                barColor: '#303ea1',
                scaleColor: false,
                trackColor: '#7682d6'
            });
        }, 300);
    </script>
}