@using System.Configuration
@using ClientDependency.Core.Mvc
@model GitterSharp.Model.Room
@{
    Html.RequiresJs("https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.2.js");
    Html.RequiresJs("~/signalr/hubs");

    Html.RequiresJs("~/assets/js/lib/emojione.min.js");

    Html.RequiresJs("~/assets/js/gitter/gitter.signalr.js");
    Html.RequiresJs("~/assets/js/gitter/gitter.signalr.init.js");

    //Need Room ID passed in
    var roomId = Model.Id;

    //Topic/room name desription
    var roomName = Model.Name.Split('/').Skip(1).First().Replace("-", " ");
    var roomTopic = Model.Topic;

    //Need this passed in
    var roomUrl = "https://gitter.im/" + Model.Uri;

    var unhide = false;
    bool.TryParse(ConfigurationManager.AppSettings["UnhideUpcomingFeatures"], out unhide);
}

@* This is the main init render in the DOM *@
<section class="gitter-chat">
    <div class="container">
        <div class="row">
            @if (unhide == false)
            {
                <div class="col-md-12">
                    <h1 style="color: red;">Note: the Gitter integration is a WIP, you can only see this because you have the admin role on Our, this feature is not yet publicly available - no sharing yet please :-)</h1>
                    <h1 style="color: green;">But you, dear admin, please come join the channel, let's talk about contributions!</h1>
                </div>
            }
            <div class="col-md-5 room-info">
                <h1 class="text-center">@roomName</h1>
                <p>@roomTopic</p>
                <p>
                    <a class="button green" href="@roomUrl" target="_blank" rel="noopener">Join the discussion on Gitter &rarr;</a>
                </p>
            </div>
            <div class="col-md-7">
                <div class="gitter-room" data-room="@roomId">
                    <ul class="umb-load-indicator animated -half-second">
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                        <li class="umb-load-indicator__bubble"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


@* Mustache JS template to render a collection of chat messages that re-uses template for single message *@
<script type="text/template" id="gitter-chat-messages-template">
    {{ #. }}
    {{ >message }}
    {{ /. }}
    <div class="gradient"></div>
</script>

@* Mustache JS template to render a single chat message *@
<script type="text/template" id="gitter-chat-template">
    <div class="gitter-message" data-message-id="{{ id }}">

        <div class="avatar">
            <img src="{{ fromUser.avatarUrlMedium }}" alt="{{ fromUser.displayName }}" />
        </div>

        <div class="message-container">
            <div class="user">
                <strong class="name">{{ fromUser.displayName }}</strong>
                <span class="username">@@{{{ memberName }}}</span>
                <span class="date" title="{{ fullFriendlyDate }}">{{ friendlyDate }}</span>
            </div>

            <div class="gitter-message-text">
                {{{ html }}}
            </div>
        </div>
    </div>
</script>

<script>
    $(function () {
        //Get existing value from SessionStorage
        var roomIds = JSON.parse(sessionStorage.getItem("gitterRoomIds") || null);
        if (!roomIds) {
            roomIds = ["@roomId"];
        } else {
            roomIds.push("@roomId");
        }

        //Now array is updated - lets push it into sessionStorage
        sessionStorage.setItem('gitterRoomIds', JSON.stringify(roomIds));

        @* Only add signalR browser consone logging - if site is in debug mode *@
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <text>$.connection.hub.logging = true;</text>
        }
    });
</script>
