@using System.Configuration
@using OurUmbraco.Community.Mastodon
@using OurUmbraco.Our
@using OurUmbraco.Our.Models
@using Skybrud.Social.Mastodon.Models.Statuses
@inherits OurUmbracoTemplatePage
@{
    var globalNotificationText = Model.Content.GetPropertyValue<string>("mainNotification");
    var showGlobalNotification = string.IsNullOrWhiteSpace(globalNotificationText) == false;
}
<!-- Search start -->
<section id="search-all" class="search-all">

    <div class="search-all-form">
        <div class="search-fieldset">
            <input class="search-input" type="search" placeholder="Search..">
            <input class="search-submit" type="submit" value="&#xe085;">
        </div>
        <span class="search-all-close"></span>
    </div>

    <div class="search-all-results equalizer">
        <ul></ul>
    </div>

    @if (MemberData == null)
    {
        <div class="search-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <strong>The friendliest CMS community on the planet</strong>
                        <p>our.umbraco.com is the central hub for the friendly umbraco community. Search for documentation, get help and guidance from seasoned experts, download and collaborate on plugins and extensions.</p>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
<!-- Search end -->

<style>
    .bannertext p {
        line-height: 1.4rem;
    }
    .discord {
        background: #3544b1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-center {
        width: 50%; /* or any width */
        color: white;
        text-align: center;
        padding-bottom: 30px;
    }
</style>

@if (showGlobalNotification)
{
    <div class="alertbar__yellow">
        @Html.Raw(globalNotificationText)
    </div>
}

<div id="banners-wrapper">

</div>

<div class="discord">
    <div class="div-center">
        <a href="https://discord.umbraco.com"><img src="/Assets/images/ourdiscord.png?width=900" alt="Banner that promotes the Umbraco Discord server" /></a>
    </div>
</div>

@if (Members.IsLoggedIn())
{
    @ForumActivity()
    @MastodonSearch()
    @Meetups()
    @GitHubContributors()
    @Html.Partial("home/documentation")
}
else
{
    @Html.Partial("home/documentation")
    @ForumActivity()
    @MastodonSearch()
    @Meetups()
    @GitHubContributors()
}

@helper ForumActivity()
    {
        <section class="forum">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1 class="text-center">Forum Activity</h1>
                        <p>
                            Recent activity in the forums, where people are helping each other with current problems.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>Recent posts</small>
                    </div>

                    <div class="col-md-12 flex" id="forum-activity">
                        <h2>Loading latest forum activity...</h2>
                        <ul class="umb-load-indicator animated -half-second">
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                        </ul>
                    </div>

                    <div class="col-md-12 goto-forum">
                        <a class="button green" href="/forum">Go to Forum &rarr;</a>
                    </div>

                </div>
            </div>
        </section>
}

@helper  GitHubContributors()
    {
        <section class="forum github-contributions">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">GitHub Contributions</h1>
                        <p>
                            <small class="github-repo-list">
                                Contributions to default branches for
                                <a href="https://github.com/umbraco/Umbraco-CMS" target="_blank" rel="noreferrer noopener" title="Umbraco-CMS">Umbraco-CMS</a>,
                                <a href="https://github.com/umbraco/UmbracoDocs" target="_blank" rel="noreferrer noopener" title="UmbracoDocs">UmbracoDocs</a>,
                                <a href="https://github.com/umbraco/OurUmbraco" target="_blank" rel="noreferrer noopener" title="OurUmbraco">OurUmbraco</a>,
                                <a href="https://github.com/umbraco/Umbraco.Deploy.Contrib" target="_blank"`rel="noreferrer noopener" title="Umbraco.Deploy.Contrib">Umbraco.Deploy.Contrib</a>,
                                <a href="https://github.com/umbraco/Umbraco.Courier.Contrib" target="_blank" rel="noreferrer noopener" title="Umbraco.Courier.Contrib">Umbraco.Courier.Contrib</a>,
                                <a href="https://github.com/umbraco/Umbraco.Deploy.ValueConnectors" target="_blank" rel="noreferrer noopener" title="Umbraco.Deploy.ValueConnectors">Umbraco.Deploy.ValueConnectors</a>,
                                <a href="https://github.com/umbraco/UmbPack" target="_blank" rel="noreferrer noopener" title="UmbPack">UmbPack</a>,
                                <a href="https://github.com/umbraco/Package.Templates" target="_blank" rel="noreferrer noopener" title="Package.Templates">Package.Templates</a>,
                                <a href="https://github.com/umbraco/rfcs" target="_blank" rel="noreferrer noopener" title="RFCs">RFCs</a>,
                                <a href="https://github.com/umbraco/The-Starter-Kit" target="_blank" rel="noreferrer noopener" title="The-Starter-Kit">The-Starter-Kit</a>,
                                <a href="https://github.com/umbraco/organizer-guide" target="_blank" rel="noreferrer noopener" title="organizer-guide">organizer-guide</a> and
                                <a href="https://github.com/umbraco/Umbraco.UI" target="_blank" rel="noreferrer noopener" title="Umbraco.UI">Umbraco.UI</a> repos
                            </small>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>Contributions the last 12 months (number indicating accepted commits)</small>
                    </div>

                    <div class="col-md-12 flex" id="github-contributors">
                        <h2>Loading GitHub contributors...</h2>
                        <ul class="umb-load-indicator animated -half-second">
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                        </ul>
                    </div>

                    <div class="col-md-12 goto-forum">
                        <a class="button green" target="_blank" rel="noopener noreferrer" href="https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/.github/CONTRIBUTING.md">Contribute to Umbraco &rarr;</a>
                    </div>

                </div>
            </div>
        </section>
}

@helper Meetups()
    {
        <section class="forum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Meetups</h1>
                        <p>
                            <a href="https://www.meetup.com/pro/umbraco" target="_blank" rel="noopener noreferrer">Upcoming meetups</a> organized by the Umbraco community.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>Upcoming meetups</small>
                    </div>
                    <div class="col-md-12 flex" id="meetups">
                        <h2>Loading meetups...</h2>
                        <ul class="umb-load-indicator animated -half-second">
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
}

@helper MastodonSearch() 
{
    var mastodonService = new MastodonService();
    var result = mastodonService.GetStatuses(10);

    if (result != null && result.Any())
    {
        <section class="forum">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1 class="text-center">Mastodon Activity</h1>
                        <p>
                            Recent activity on Mastodon, where people are talking about Umbraco.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>Recent posts</small>
                    </div>

                    <div class="col-md-12 flex" id="twitter-search">
                       @foreach(var status in result.Take(10))
                       {
                          <a href="@status.Url" class="forum-thread" target="_blank" rel="noreferrer noopener">
                   
                               <div class="avatar">
                                   <img src="@status.Account.Avatar">
                               </div>
                   
                               <div class="meta">
                                   <div class="forum-thread-text">
                                       <h3>@Umbraco.Truncate(Umbraco.StripHtml(status.Content), length: 200, addElipsis: true)</h3>
                                       <p>by @@@status.Account.DisplayName at @status.CreatedAt.ToString("ddd, dd MMM yyy HH:mm ")</p>
                                   </div>
                               </div>
                           </a>
                       }
                       
                    </div>

                    <div class="col-md-12 goto-forum">
                        <a class="button green" href="https://umbracocommunity.social/tags/umbraco" target="_blank" rel="noreferrer noopener">Join the conversation on Mastodon &rarr;</a>
                    </div>

                </div>
            </div>
        </section>
    }
}
