@using OurUmbraco.Community.GitHub
@using OurUmbraco.Our.Models
@inherits OurUmbracoTemplatePage

<style type="text/css">
    .note {
        border: 1px solid #6bafff;
        background: #b8d9ff;
        color: #00499e;
        padding: 20px;
        width: 100%;
        top: 100px;
        bottom: auto;
        margin-bottom: 30px;
        border-radius: 4px;
    }
</style>
<div class="note">
    <div class="message text-center">
        <p>
            Welcome to the new community hub. <a href="https://umbraco.com/blog/putting-the-community-back-into-the-community/?utm_source=Our&utm_campaign=Our_Community_Launch">Read all about this new area here.</a>
        </p>
    </div>
</div>

@Map()

@*@GitHubMatch()*@

@helper GitHubMatch()
    {
        <section class="community">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h1 class="text-center">GitHub Match (WIP)</h1>
                        <p>
                            For people who have added their GitHub name to their profile, match up their PRs.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>GitHub activity</small>
                    </div>

                    <div class="col-md-12 flex" id="github-statistics">
                        <ul>
                            @{
                                var gitHubService = new GitHubService();
                                var pullRequestMembers = gitHubService.MatchPullsToMembers();
                                var logins = gitHubService.GetHqMembers();
                                
                                var filteredMembers = pullRequestMembers
                                    .Where(x => logins.Contains(x.GitHubUsername.ToLowerInvariant()) == false)
                                    .OrderByDescending(x => x.AcceptedPulls);
                            }

                            @foreach (var member in filteredMembers)
                            {
                                <li>
                                    <a href="/member/@member.MemberId">@member.Name</a> <a href="https://github.com/@member.GitHubUsername" title="See @member.Name's profile on GitHub" target="_blank" rel="noreferrer noopener">(Github: @member.GitHubUsername)</a>
                                    <p>PR Stats:</p>
                                    <ul>
                                        <li>PRs: @member.TotalPulls</li>
                                        <li>Open PRs: @member.OpenPulls</li>
                                        <li>Accepted PRs: @member.AcceptedPulls</li>
                                        <li>Closed PRs: @member.ClosedPulls</li>
                                    </ul>
                                    <p>Repositories contributed to:</p>
                                    <ul>
                                        @foreach (var repository in member.Repositories)
                                        {
                                            <li>@repository</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </section>
}

@helper Map()
    {
        <section class="community">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Community members around you</h1>
                        <p>
                            Many people in the world have joined our lively community, have a look on the map below. You can edit your appearance on the map <a href="/member/profile">in your profile</a>.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <small>Map</small>
                    </div>

                    @Html.Partial("Community/Map")

                </div>
            </div>
        </section>
}
