@using OurUmbraco.Community.People
@using OurUmbraco.Community.People.Models
@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    var peopleService = new PeopleService();
    var ourMvps = peopleService.GetMvps();
}

<table>
    @foreach (var mvpGroup in ourMvps.OrderByDescending(m => m.Year))
    {
        @RenderYearMvps(mvpGroup)
        if (mvpGroup.Members.Any(m => m.IsMvpRenewal))
        {
            @RenderYearMvps(mvpGroup, true)
        }
    }
</table>

@helper RenderYearMvps(MvpsPerYear mvpGroup, bool isRenewalList = false)
{
    <thead class="mvp-group-name">
    <tr>
        <td colspan="4">
            <h2>@mvpGroup.Year @(isRenewalList ? "Renewals" : null)</h2>
        </td>
    </tr>
    </thead>
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Twitter</th>
        <th>GitHub</th>
    </tr>
    </thead>
    <tbody class="mvp-group">
        @RenderMembersList(mvpGroup, isRenewalList)
    </tbody>
}

@helper RenderMembersList(MvpsPerYear mvpGroup, bool isRenewalList) {
    foreach (var member in mvpGroup.Members.OrderBy(m => m.Name).Where(m => m.IsMvpRenewal == isRenewalList))
    {
        <tr>
            <td>
                @Html.Raw(member.Avatar)
            </td>
            <td class="col-name">
                <a href="/member/@member.Id"><strong>@member.Name</strong></a><br/>
                <small>@member.Company</small><br/>
            </td>
            <td class="col-twitter">
                @if (string.IsNullOrWhiteSpace(member.Twitter))
                {
                    <em>N/A</em>
                }
                else
                {
                    <a href="https://twitter.com/@( member.Twitter)" title="See @member.Name's profile on Twitter" target="_blank" rel="noreferrer noopener" class="link-secondary">
                        @@@( member.Twitter)
                    </a>
                }
            </td>
            <td class="col-github">
                @if (string.IsNullOrWhiteSpace(member.GitHub))
                {
                    <em>N/A</em>
                }
                else
                {
                    <a href="https://github.com/@( member.GitHub)" title="See @member.Name's profile on GitHub" target="_blank" rel="noreferrer noopener" class="link-secondary">
                        @@@( member.GitHub)
                    </a>
                }
            </td>
        </tr>
    }
}

<style>
    .community.mvps {
    }

        .community.mvps .mvp-group {
            width: 100%;
        }

            .community.mvps .mvp-group h2 {
                font-weight: bold;
            }

        .community.mvps table {
            width: 100%;
        }

        .community.mvps .mvp-group .col-name {
            width: 100%;
        }

            .community.mvps .mvp-group .col-name small {
                display: inline-block;
                margin-top: 4px;
                font-size: 12px;
                font-weight: normal;
                color: #000;
            }

        .community.mvps .mvp-group .col-twitter,
        .community.mvps .mvp-group .col-github {
            width: 150px;
        }

        .community.mvps table thead th {
            padding: 5px 15px;
            border-bottom: 1px solid #e5e8ea;
        }

        .community.mvps table tbody td {
            padding: 15px;
            border-bottom: 1px solid #e5e8ea;
            vertical-align: middle;
        }

        .community.mvps .mvp-group-name h2 {
            margin-top: 100px;
            font-size: 26px;
            font-weight: bold;
        }

        .community.mvps .mvp-group-name div {
            margin-top: 10px;
        }

        .community.mvps .mvp-group-name td {
            padding-bottom: 30px;
        }

        .community.mvps .intro strong {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .community.mvps .intro div {
            font-size: 16px;
            line-height: 26px;
        }

        .community.mvps .col-md-12.flex {
            padding: 0;
        }
</style>
