@using OurUmbraco.Community.Videos
@using Skybrud.Essentials.Strings
@using Skybrud.Social.Google.YouTube.Models.Videos

@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    var service = new CommunityVideosService();
    var videos = service.LoadYouTubePlaylistVideos();
}

<section class="community">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Videos</h1>
                <p>
                    Videos from the community.
                </p>
            </div>
            <div class="col-md-12">
                <small>Recent videos</small>
            </div>
            <div class="col-md-12 flex">
                <div class="videos-list">
                    <div class="videos-list-meta">
                        Showing @videos.Length @(videos.Length == 1 ? "video" : "videos")
                    </div>
                    @foreach (var video in videos.OrderByDescending(x => x.Snippet.PublishedAt))
                    {
                        string videoUrl = "https://youtube.com/watch?v=" + video.Id;

                        <div class="videos-item">
                            <div class="videos-details">
                                <a href="@videoUrl" target="_blank" rel="noreferrer noopener"><strong>@video.Snippet.Title</strong></a>
                                <div class="videos-meta">
                                    @video.Snippet.PublishedAt.ToString("MMM d, yyyy")
                                    &ndash;
                                    @video.ContentDetails.Duration.Value.TotalMinutes.ToString("N0") min
                                    &ndash;
                                    @video.Statistics.ViewCount @(@video.Statistics.ViewCount == 1 ? "play" : "plays")
                                    @if (video.Statistics.LikeCount > 0)
                                    {
                                        <span>
                                            &ndash;
                                            @video.Statistics.LikeCount likes
                                        </span>
                                    }
                                </div>
                                @if (video.Snippet.Tags.Length > 0)
                                {
                                    <div class="videos-tags">
                                        @foreach (var tag in video.Snippet.Tags)
                                        {
                                            <span class="videos-tag">@tag</span>
                                        }
                                    </div>
                                }
                                @if (String.IsNullOrWhiteSpace(video.Snippet.Description))
                                {
                                    string html = StringUtils.StripHtml(video.Snippet.Description).Replace("\n", "<br />\n");
                                    <div class="videos-description">@Html.Raw(html)</div>
                                }
                            </div>
                            <a href="@videoUrl" class="videos-thumbnail" target="_blank" rel="noreferrer noopener">
                                <div class="videos-thumbnail-overlay">
                                    <i class="icon-Video"></i>
                                </div>
                                <div class="videos-thumbnail-background" style="background-image: url(/media/YouTube/@(video.Id).jpg);"></div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function playYouTubeVideo(e, id) {

        $('<iframe/>').attr({
            src: 'https://www.youtube.com/embed/' + id,
            frameborder: 0,
            webkitallowfullscreen: '',
            mozallowfullscreen: '',
            allowfullscreen: '',
            allow: 'autoplay; encrypted-media',
            style: 'width: 100%; height: 100%;'
        }).appendTo(e);

        $('.videos-thumbnail-overlay', e).remove();
        $('.videos-thumbnail-background', e).remove();

    }

</script>