@inherits umbraco.MacroEngines.DynamicNodeContext
@using Marketplace.Razor;
@{
    int fileId = Int32.Parse(Parameter.fileId);
    int packageId = Int32.Parse(Parameter.packageId);

    var verReport = new VersionCompatibilityReport(fileId, packageId);
}

This project is compatible with the following versions as reported by community members who have downloaded this package:<br/><br/>

@{
                                            
    foreach (var ver in verReport.GetCompatibilityReport())
    {
        if(ver.smiley != "untested"){
            <span class="smiley  @ver.smiley"> @ver.version (@ver.perc%)</span>
        }
        else
        {
            <span class="smiley @ver.smiley"> @ver.version (untested)</span>
        }                     
    }
}
                            
<br/>
    