@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    
    var member = Members.GetCurrentMember();

    var forumItems = NotificationsWeb.Services.NotificationService.Instance.GetForumSubscriptionsFromMember(member.Id).Items;

    var topicItems = NotificationsWeb.Services.NotificationService.Instance.GetTopicSubscriptionsFromMember(member.Id).Items;

    var dontBug = member.GetPropertyValue<bool>("bugMeNot");
    
}

<div class="profile-settings">

    <div class="profile-input" id="username">
        <label for="bug-me-not">Don't bug me:</label>
        @if (dontBug) { 
            <input type="checkbox" id="bug-me-not" checked />
        }
        else
        {
            <input type="checkbox" id="bug-me-not" />
        }
    </div>

    <strong>Following</strong> <br/>
    @if (forumItems.Any()) { 
    <strong>Forums</strong>
    <ul class="profile-settings-following">
        @foreach (var not in forumItems)
        {
            var forum = Umbraco.TypedContent(not.ForumId);

            <li>
                <a href="@forum.Url">@forum.Name</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="" data-id="@forum.Id">Unfollow</a>
            </li>
        }
    </ul>
    }
    @if (topicItems.Any()) { 
    <strong>Topics</strong>
    <ul class="profile-settings-following">
        @foreach (var not in topicItems)
        {
            var topic = uForum.Services.TopicService.Instance.GetById(not.TopicId);

            <li>
                <a href="@topic.Url">@topic.Title</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="topic" data-id="@topic.Id">Unfollow</a>
            </li>
        }
    </ul>
    }
</div>