@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var forumItems = NotificationsWeb.Services.NotificationService.Instance.GetForumSubscriptionsFromMember(Members.GetCurrentMemberId()).Items;

    var topicItems = NotificationsWeb.Services.NotificationService.Instance.GetTopicSubscriptionsFromMember(Members.GetCurrentMemberId()).Items;
}

<div class="profile-settings">

    <strong>Following</strong> <br/>
    @if (forumItems.Any()) { 
    <strong>Forums</strong>
    <ul class="profile-settings-following">
        @foreach (var not in forumItems)
        {
            var forum = Umbraco.TypedContent(not.ForumId);

            <li>
                <a href="@forum.Url">@forum.Name</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="forum" data-id="@forum.Id">Unfollow</a>
            </li>
        }
    </ul>
    }
    @if (topicItems.Any()) { 
    <strong>Topics</strong>
    <ul class="profile-settings-following">
        @foreach (var not in topicItems)
        {
            var topic = uForum.Services.TopicService.Instance.GetById(not.TopicId);

            <li>
                <a href="@topic.Url">@topic.Title</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="topic" data.id="@topic.Id">Unfollow</a>
            </li>
        }
    </ul>
    }
</div>