@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    
    var member = Members.GetCurrentMember();

    var dontBug = member.GetPropertyValue<bool>("bugMeNot");

    var forumItems = NotificationsWeb.Services.NotificationService.Instance.GetForumSubscriptionsFromMember(member.Id).Items;


    var numberOfTopicItems = NotificationsWeb.Services.NotificationService.Instance.GetNumberOfTopicSubscriptionsFromMember(member.Id);

    var pages = Math.Ceiling(((double)numberOfTopicItems / 50));

    var currentPage = 1;
    
    if (Request["p"] != null) { 
        int.TryParse(Request["p"], out currentPage);
    }

    var prevPage = currentPage - 1;
    var nextPage = currentPage + 1;

    var topicItems = NotificationsWeb.Services.NotificationService.Instance.GetTopicSubscriptionsFromMember(member.Id,50,currentPage).Items;
    
    
}

<div class="profile-settings">

    

    @Html.Action("Render", "ProfileNotification") 

    @if (!dontBug) { 
  
    if (forumItems.Any()) { 
    <strong>Forums</strong>
    <ul class="profile-settings-following">
        @foreach (var not in forumItems)
        {
            var forum = Umbraco.TypedContent(not.ForumId);

            <li>
                <a href="@forum.Url">@forum.Name</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="" data-id="@forum.Id">Unfollow</a>
            </li>
        }
    </ul>
    }
    if (topicItems.Any()) { 
    <strong>Topics</strong>
    <ul class="profile-settings-following">
        @foreach (var not in topicItems)
        {
            var topic = uForum.Services.TopicService.Instance.GetById(not.TopicId);

            <li>
                <a href="@topic.Url">@topic.Title</a><span class="hidden-xs">–</span>
                <a class="unfollow button transparent" href="" data-controller="topic" data-id="@topic.Id">Unfollow</a>
            </li>
        }
    </ul>

    if (pages > 1) { 
        <nav class="pagination" role="navigation">
            @if (currentPage > 1) { 
            <a class="prev" href="@prevPage">Prev</a>
            }
            @for (int i = 1; i <= pages; i++)
            {
                if(i == currentPage){
                    <a class="active" href="?p=@i">@i</a>
                }
                else
                {
                <a href="?p=@i">@i</a>
                }
            }
            @if (currentPage < pages) { 
            <a class="next" href="?p=@nextPage">Next</a>
            }
        </nav>
    }
    }
    }
</div>