@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum
@using uForum.Services

@{

    var topicService = new TopicService(ApplicationContext.DatabaseContext);
}
<div class="quick-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="close">
                    <i class="icon-Delete"></i>Close
                </div>

                @if (Members.IsLoggedIn() && Members.GetCurrentMember() != null)
                {
                    var member = Members.GetCurrentMember();

                    var roles = System.Web.Security.Roles.GetRolesForUser();

                    var latestTopics = topicService.GetLatestTopicsForMember(member.Id, maxCount: 100);

                    <div class="close">
                        <i class="icon-Delete"></i>Close
                    </div>
                    <div class="settings">
                        <a href="/member/profile"><i class="icon-Settings"></i>Edit profile</a>
                    </div>


                    <div class="user-image">
                        @avatar(member, 100)
                    </div>

                    <div class="user-profile">
                        <h2>@member.Name</h2>

                        <div class="karma">
                            @member.Karma()
                        </div>

                        @if (member.HasValue("twitter"))
                        {
                            <div class="user-twitter">
                                <a href="https://twitter.com/@member.GetPropertyValue("twitter")">&#64;@member.GetProperty("twitter").Value.ToString()</a>
                            </div>
                        }

                        @if (roles.Length > 1)
                        {
                            <span class="roles">
                                @foreach (var role in roles.Skip(1))
                                {
                                    if (role == "CoreContrib")
                                    {
                                        <span class="c-trib">C-trib</span>
                                    }
                                    else
                                    {
                                        <span class="@role.ToLower()">@role</span>
                                    }
                                }
                            </span>
                        }
                        <div class="log-out">
                            <a href="@Url.Action("Logout","Login")">Log out</a>
                        </div>

                    </div>


                    <small>
                        Activity in threads you participated in
                    </small>

                    <div class="user-latest-posts">

                        @foreach (var topic in latestTopics)
                        {
                            var forum = Umbraco.TypedContent(topic.ParentId);

                            <a href="@topic.GetUrl()" class="forum-thread">
                                <div class="row">
                                    <div class="col-xs-10 col-md-8">
                                        <div class="forum-thread-text">
                                            <h3>@topic.Title</h3>
                                            @if (!string.IsNullOrEmpty(topic.LastReplyAuthorName))
                                            {
                                                <p>
                                                    Reply by @topic.LastReplyAuthorName <br />
                                                    @topic.Updated.ConvertToRelativeTime()
                                                </p>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-xs-2 col-md-4">
                                        <div class="category frontend"><span class="cat">@forum.Name</span></div>
                                    </div>

                                </div>
                            </a>
                        }

                    </div>


                }
                else
                {



                    <div class="row">
                        <div class="col-md-12">

                            <div class="login">


                                <h2>Enter your email and password to log in.</h2>


                                @Umbraco.RenderMacro("MemberLogin", new { NextPage = "", ErrorMessage = "Error message mayn!!" })
                                <small>Can't remember your password? You can retrieve a new one by <a href="/member/forgot-password" title="Forgot Password">clicking here</a></small>
                                <small>All forum.umbraco.org members has been migrated, but need a new password, <a href="/member/forgot-password" title="Forgot Password">please get it here</a>.</small>


                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

@helper avatar(IPublishedContent member, int avatarSize)
{
    if (member.HasValue("avatar"))
    {
        @localAvatar(member.GetPropertyValue("avatar").ToString(), avatarSize);
    }
    else
    {
        @gravatar(member.GetPropertyValue("Email").ToString(), avatarSize);
    }
}


@helper gravatar(string email, int size)
{
    var emailId = email.ToLower();
    var hash = FormsAuthentication.HashPasswordForStoringInConfigFile(emailId, "MD5").ToLower();

    <img src="//www.gravatar.com/avatar/@hash?s=@size&d=mm&r=g" />
}

@helper localAvatar(string imgPath, int size)
{
    <img src="@imgPath?width=@size&height=@size&mode=crop" alt="Alternate Text" />
}