@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Drawing
@using our
@using uForum
@using uForum.Services
@{
    var topicService = new TopicService(ApplicationContext.DatabaseContext);
    Image avatarImage = null;
    if (Members.IsLoggedIn())
    {
        avatarImage = Utils.GetMemberAvatarImage(Members.GetCurrentMember());
    }
}
<div class="quick-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @if (Members.IsLoggedIn() && Members.GetCurrentMember() != null)
                {
                    var member = Members.GetCurrentMember();

                    var roles = System.Web.Security.Roles.GetRolesForUser();

                    var latestTopics = topicService.GetLatestTopicsForMember(member.Id, maxCount: 100);

                    <div class="close">
                        <i class="icon-Delete"></i>Close
                    </div>
                    <div class="settings">
                        <a href="/member/profile"><i class="icon-Settings"></i>Edit profile</a>
                    </div>


                    <div class="user-image">
                        @Html.Raw(our.Utils.GetMemberAvatar(member, 100))
                    </div>

                    <div class="user-profile">
                        <h2>@member.Name</h2>
                        <div class="karma">
                            @member.Karma()
                        </div>
                        @if (member.HasValue("twitter"))
                        {
                            var twitterHandle = member.GetPropertyValue<string>("twitter").Replace("@", string.Empty);
                            <div class="user-twitter">
                                <a href="https://twitter.com/@twitterHandle">&commat;<span>@twitterHandle</span></a>
                            </div>
                        }
                        @if (roles.Length > 1)
                        {
                            <span class="roles">
                                @foreach (var role in roles.Skip(1))
                                {
                                    if (role == "CoreContrib")
                                    {
                                        <span class="c-trib">C-trib</span>
                                    }
                                    else
                                    {
                                        <span class="@role.ToLower()">@role</span>
                                    }
                                }
                            </span>
                        }
                        <div class="log-out">
                            <a href="/umbraco/Surface/Login/Logout">Log out</a>
                        </div>
                    </div>

                    if (avatarImage != null && (avatarImage.Width < 400 || avatarImage.Height < 400))
                    {
                        <small>Notifications</small>

                        <a href="/member/profile" class="forum-thread">
                            <div class="row">
                                <div class="col-xs-10 col-md-8">
                                    <div class="forum-thread-text">
                                        <h3>Your profile picture is a little on the small side.</h3>
                                        <p>
                                            It would look <strong>much nicer</strong> if you could update it to be larger image.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    
                    <small>
                        Activity in threads you participated in
                    </small>

                    <div class="user-latest-posts">
                        @foreach (var topic in latestTopics)
                        {
                            var forum = Umbraco.TypedContent(topic.ParentId);
                            // if forum == null then it's been hidden/unpublished (example: v5 forum)
                            // if this is the case: don't show forum post in list
                            if (forum != null)
                            {
                                <a href="@topic.GetUrl()" class="forum-thread">
                                    <div class="row">
                                        <div class="col-xs-10 col-md-8">
                                            <div class="forum-thread-text">
                                                <h3>@topic.Title</h3>
                                                <p>
                                                    @{
                                if (topic.Replies != 0 && !string.IsNullOrEmpty(topic.LastReplyAuthorName))
                                {
                                    <text>last edited by @topic.LastReplyAuthorName</text>
                                }
                                else
                                {
                                    <text>created by @topic.AuthorName</text>
                                }
                                                    }  @topic.Updated.ConvertToRelativeTime()
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-4">
                                            <div class="category frontend"><span class="cat">@forum.Name</span></div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>


                }
                else
                {
                    <a href="/member/login">Sign in</a>  <a href="/member/Signup">Register</a>
                }

            </div>
        </div>
    </div>
</div>