@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
<ul>
    @foreach (var page in Model.Content.AncestorOrSelf(1).Children.Where(x => x.IsVisible()))
    {
        <li class="@(page.IsAncestorOrSelf(Model.Content) ? "current" : null)">
            @if (page.Name == "Contribute")
            {
                <a href="https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/.github/CONTRIBUTING.md" target="_blank" rel="noreferrer noopener">@page.Name</a>
            }
            else if (page.Name.ToLowerInvariant() == "community")
            {
                <a href="https://community.umbraco.com/">Community</a>
            }
            else if (page.Name.ToLowerInvariant() == "discord")
            {
                <a href="https://discord.umbraco.com/">Discord</a>
            }
            else
            {
                <a href="@page.Url">@page.Name</a>
            }
        </li>
    }

    <li>
        @if (MemberData != null)
        {
            <div class="user">
                @Html.Raw(MemberData.AvatarHtml)
                @if (MemberData.AvatarImageTooSmall)
                {
                    <span class="notificationCount">1</span>
                }
            </div>
        }
        else
        {
            <a href="/member/login?redirectUrl=@(Server.UrlEncode(Request.Url.AbsolutePath))">Sign in</a>
        }
    </li>
</ul>
