@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;
@using uForum.Services

@{
    var page = 1;
    if(Request["page"] != null)
    {
        int.TryParse(Request["page"], out page);
    }
    var nextPage = page + 1;
    
    var cat = -1;
    if (CurrentPage.Level > 3)
    {
        cat = CurrentPage.Id;
    }
    var topicService = new TopicService(ApplicationContext.DatabaseContext);

    var topics = topicService.GetLatestTopics(50, page, true, cat);
}
<div id="overlay" class="overlay"></div>
    <!-- FORUM LIST START -->
    <table class="table table-striped topic-list">

        <!-- FORUM LIST HEADER START -->
        <thead>
            <tr>
                <th class="topic">Topic</th>
                <th class="category">
                    <div class="sorting">
                        <select id="selectCategory" data-placeholder="Choose&hellip;">
                            <option class="category" selected disabled>Category</option>
                            @foreach (var main in CurrentPage.AncestorOrSelf(2).Children)
                            {
                                foreach (var tag in main.Children)
                                {
                                    <option class="@tag.Name.ToLower().Replace(" ","")" value="@tag.Id">@tag.Name</option>
                                }
                            }
                        </select>
                    </div>
                </th>
                <th class="posts">Posts</th>
                <th class="activity">Activity</th>
            </tr>
        </thead>
        <!-- FORUM LIST HEADER END -->
        <!-- FORUM LIST OF THREADS START -->
        <tbody class="forum-default-listing">

            <!-- FORUM THREAD START -->
            @foreach (var topic in topics.Items)
            {       
                
                <tr class="@Umbraco.If(topic.Answer > 0, "solved")">

                    @{
                var forum = Umbraco.TypedContent(topic.ParentId);
                    }

                    <td class="topic">
                        <a href="@topic.Url">@topic.Title</a>
                        
                        @if (!string.IsNullOrEmpty(topic.LastReplyAuthorName))
                        {
                            <span>last edited by <a href="/member/@topic.LatestReplyAuthor">@topic.LastReplyAuthorName</a></span>
                        }
                    </td>

                    <td class="category frontend"><a href="@forum.Url">@forum.Name</a></td>
                    <td class="posts">@topic.Replies</td>
                    <td class="activity" title="@topic.Updated.ToShortDateString() - @topic.Updated.ToShortTimeString()">@topic.Updated.ConvertToRelativeTime()</td>
                </tr>
                
            }

            <a href="?page=@nextPage" style="display:none;">next page</a>
            
        </tbody>

        <tbody class="forum-search-listing">
        </tbody>
        <!-- FORUM LIST OF THREADS START -->
    </table>


<!-- FORUM LIST END -->
<!-- Template for scrolling - yes these 2 should be merged together -->
<script id="forum-template" type="x-tmpl-mustache">
    {{#.}}
    <tr class="{{#hasAnswer}}solved{{/hasAnswer}}">
        <td class="topic">
            <a href="{{url}}">{{title}}</a>
            <span>last edited by <a href="{{memId}}">{{memName}}</a></span>
        </td>
        <td class="category frontend"><a href="{{forumUrl}}">{{forumName}}</a></td>
        <td class="posts">{{replies}}</td>
        <td class="activity" title="{{updated}}">{{updated}}</td>
    </tr>
    {{/.}}
</script>

<!-- Template for search -->
<script type="text/template" class="search-item-forum">
    <tr class="{[if(hasAnswer === 1){]}solved{[ } ]}">
        <td class="topic">
            <a href="{{url}}">{{name}}</a>
            <span>{{body}}</span>
        </td>

        <td class="category frontend"><a href="{{forumUrl}}">{{forumName}}</a></td>
        <td class="posts">{{replies}}</td>
        <td class="activity" title="{{updateDate}}">{{updateDate}}</td>
    </tr>
</script>