@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;

@{
    var page = 1;
    if(Request["p"] != null)
    {
        int.TryParse(Request["p"], out page);
    }
    var nextPage = page + 1;
    
    var cat = -1;
    if (CurrentPage.Level > 3)
    {
        cat = CurrentPage.Id;
    }
    var topics = uForum.Services.TopicService.Instance.GetLatestTopics(50, page,true,cat);
}
<div id="overlay" class="overlay"></div>
    <!-- FORUM LIST START -->
    <table class="table table-striped topic-list">

        <!-- FORUM LIST HEADER START -->
        <thead>
            <tr>
                <th class="topic">Topic</th>
                <th class="category">
                    <div class="sorting">
                        <select id="selectCategory" data-placeholder="Choose&hellip;">
                            <option class="category" selected disabled>Category</option>
                            @foreach (var main in CurrentPage.AncestorOrSelf(2).Children)
                            {
                                foreach (var tag in main.Children)
                                {
                                    <option class="@tag.Name.ToLower().Replace(" ","")" value="@tag.Id">@tag.Name</option>
                                }
                            }
                        </select>
                    </div>
                </th>
                <th class="posts">Posts</th>
                <th class="activity">Activity</th>
            </tr>
        </thead>
        <!-- FORUM LIST HEADER END -->
        <!-- FORUM LIST OF THREADS START -->
        <tbody>

            <!-- FORUM THREAD START -->
            @foreach (var topic in topics.Items)
            {
                
                    
                
                <tr class="@Umbraco.If(topic.Answer > 0, "solved")">

                    @{
                var forum = Umbraco.TypedContent(topic.ParentId);
                    }

                    <td class="topic">
                        <a href="@topic.Url">@topic.Title</a>
                        @{
                        var mem = topic.LastActiveMember();
                        }
                        <span>last edited by <a href="/member/@mem.Id">@mem.Name</a></span>
                    </td>

                    <td class="category frontend"><a href="@forum.Url">@forum.Name</a></td>
                    <td class="posts">@topic.Replies</td>
                    <td class="activity" title="@topic.Updated.ToShortDateString() - @topic.Updated.ToShortTimeString()">@topic.Updated.ConvertToRelativeTime()</td>
                </tr>
                
            }

            <a href="?p=@nextPage" style="display:none;">next page</a>
            
        </tbody>

        <!-- FORUM LIST OF THREADS START -->
    </table>

<!-- FORUM LIST END -->
<script id="forum-template" type="x-tmpl-mustache">
    {{#.}}
    <tr class="{{#hasAnswer}}solved{{/hasAnswer}}">
        <td class="topic">
            <a href="{{url}}">{{title}}</a>
            <span>last edited by <a href="{{memId}}">{{memName}}</a></span>
        </td>
        <td class="category frontend"><a href="{{forumUrl}}">{{forumName}}</a></td>
        <td class="posts">{{replies}}</td>
        <td class="activity" title="{{updated}}">{{updated}}</td>
    </tr>
    {{/.}}
</script>



