@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;

@{
    var ts = new uForum.Services.TopicService(ApplicationContext.DatabaseContext);
}

<div class="col-md-6">
    @Column(ts.GetLatestTopics(3, 1))
</div>
<div class="col-md-6">
    @Column(ts.GetLatestTopics(3, 2))
</div>

@helper Column(IEnumerable<uForum.Models.ReadOnlyTopic> topics)
{
    @foreach (var topic in topics.ToArray())
    {
        var cat = Umbraco.TypedContent(topic.ParentId);
        var mem = Members.GetById(topic.LatestReplyAuthor) ?? Members.GetById(topic.MemberId);

        <a href="@topic.GetUrl()" class="forum-thread">
            <div class="row flex-center">
                <div class="col-xs-2">@Html.Raw(our.Utils.GetMemberAvatar(mem, 79))</div>
                <div class="col-xs-10">
                    <div class="forum-thread-text">
                        <h3>@topic.Title</h3>
                        <p>
                            @{
        if (topic.Replies != 0 && !string.IsNullOrEmpty(topic.LastReplyAuthorName))
        {
            <text>last edited by @topic.LastReplyAuthorName</text>
        }
        else
        {
            <text>created by @topic.AuthorName</text>
        }
                        }  @topic.Updated.ConvertToRelativeTime()
                    </p>
                </div>

                <div class="category"><span class="cat">@cat.Name</span></div>
            </div>

        </div>
    </a>
    }
}