@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum.Extensions

@{
    var ts = new uForum.Services.TopicService(ApplicationContext.DatabaseContext);
}

<div class="col-md-12 flex">
    @Column(ts.GetLatestTopics(6, 1))
</div>

@helper Column(IEnumerable<uForum.Models.ReadOnlyTopic> topics)
{
    foreach (var topic in topics.ToArray())
    {
        var cat = Umbraco.TypedContent(topic.ParentId);
        var mem = Members.GetById(topic.LatestReplyAuthor) ?? Members.GetById(topic.MemberId);

        <a href="@topic.GetUrl()" class="forum-thread">

            <div class="avatar">
                @Html.Raw(our.Utils.GetMemberAvatar(mem, 79))
            </div>

            <div class="meta">
                <div class="forum-thread-text">
                    <h3>@topic.Title</h3>
                    <p>
                        @if (topic.Replies != 0 && !string.IsNullOrEmpty(topic.LastReplyAuthorName))
                        {
                            <text>last edited by @topic.LastReplyAuthorName</text>
                        }
                        else
                        {
                            <text>created by @topic.AuthorName</text>
                        }

                        @topic.Updated.ConvertToRelativeTime()
                    </p>
                </div>

                <div class="category">
                    <span class="cat">@cat.Name</span>
                </div>
            </div>
        </a>
    }
}