@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using uForum;

@{
    var ts = new uForum.Services.TopicService(ApplicationContext.DatabaseContext);
}

<div class="col-md-6">
    @Column(ts.GetLatestTopics(3, 1))
</div>
<div class="col-md-6">
    @Column(ts.GetLatestTopics(3, 2))
</div>

@helper Column(IEnumerable<uForum.Models.ReadOnlyTopic> topics)
{
    <ul>
        @foreach (var topic in topics.ToArray())
        {
            var cat = Umbraco.TypedContent(topic.ParentId);
            var mem = Members.GetById(topic.LatestReplyAuthor);
            if (mem == null)
            {
                mem = Members.GetById(topic.MemberId);
            }

            var avatar = mem.GetPropertyValue<string>("avatar");

            <a href="@topic.GetUrl()" class="forum-thread">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="@avatar?width=100&height=100&mode=crop" alt="@mem.Name">
                    </div>
                    <div class="col-xs-10">
                        <div class="forum-thread-text">
                            <h3>@topic.Title</h3>
                            <p>Reply by @mem.Name  @topic.Updated.ConvertToRelativeTime()</p>
                        </div>
                    </div>
                    <div class="col-xs-10 col-offset-xs-2">
                        <div class="category frontend"><span class="cat">@cat.Name</span></div>
                    </div>
                </div>
            </a>
        }
    </ul>
}
