@using OurUmbraco.Our.Controllers
@model OurUmbraco.Our.Models.ProjectCompleteModel
<div class="package-create">
    @Html.Partial("~/Views/Partials/Project/PackageEditNavigation.cshtml", "complete")
    
    @if (string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        using (Html.BeginUmbracoForm<ProjectController>("UpdateProjectLive"))
        {
             <fieldset>
                 <legend>Make "@Model.Name" public</legend>
                 <p>By checking the following box you confirm that your package follows our <a href="https://our.umbraco.com/code-of-conduct" target="_blank">Code of Conduct</a>. Your package will then be live and listed on the package repository.</p>
                 <p>
                     @Html.CheckBoxFor(m => m.ProjectLive) @Html.LabelFor(m => m.ProjectLive)
                 </p>
             </fieldset>

             <div class="buttons">
                 <input type="submit" value="Save" class="submitButton button tiny green">
             </div>
         }
    }
    else
    {
        <h3>Can't publish your package</h3>
        <p>@Model.ErrorMessage</p>
    }
</div>
