@using OurUmbraco.Repository.Controllers
@using OurUmbraco.Our
@using OurUmbraco.Project
@using OurUmbraco.Repository.Models

@inherits OurUmbraco.Our.Models.OurUmbracoTemplatePage
@{
    var pageSize = 20;

    var packageService = new OurUmbraco.Repository.Services
        .PackageRepositoryService(Umbraco, Members, ApplicationContext.Current.DatabaseContext);

    var results = packageService.GetPackages(0, pageSize, order: PackageSortOrder.Popular, onlyPromoted: true);
    if (results.Total == 0)
    {
        // Don't display the section if there are no promoted packages.
        return;
    }
}

<div class="row">
    <div class="col-xs-12">
        <div class="packages-filter-bar">
            <h3 style="font-size: 1.4em; font-weight: 700;">Promoted</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="packages-listing">
            @foreach (var childContent in results.Packages)
            {
                @RenderProjectBox(childContent)
            }
        </div>
    </div>
</div>


@helper RenderProjectBox(Package projectContent)
{
    <a class="package-box" href="@projectContent.Url">
        <div class="package-image">
            @RenderProjectImage(Utils.GetScreenshotPath(projectContent.Image))
        </div>
        <div class="package-info">
            <h3>@projectContent.Name</h3>
            <span class="text-fadeout"></span>
            <p class="small">@(new HtmlString(projectContent.Summary.CleanHtmlAttributes()))</p>
        </div>

        <div class="other">
            <div class="package-badge">
                <span class="package-number">@projectContent.VersionRange</span>
            </div>
            <div class="stats">
                <span class="karma">
                    @projectContent.Likes <span><i class="icon-Hearts color-red"></i></span>
                </span>
                <span class="downloads" title="@projectContent.Downloads total downloads">
                    @projectContent.Downloads.FormatDownloadNumber() <span><i class="icon-Download-alt"></i></span>
                </span>
            </div>
        </div>
    </a>
}


@helper RenderProjectImage(string defaultScreenshot)
{
    <img src="@defaultScreenshot?width=64&height=64&bgcolor=fff&format=png"
         srcset="@defaultScreenshot?width=128&height=128&bgcolor=fff&format=png 2x,
             @defaultScreenshot?width=192&height=192&bgcolor=fff&format=png 3x" />
    }