@using OurUmbraco.MarketPlace.Interfaces
@using OurUmbraco.Project
@model OurUmbraco.Our.Models.MyProjectsModel

<div class="profile-settings">
    <div class="profile-settings-packages packages-content">
        <a href="/member/profile/projects/details?projectId=" class="button green"><i class="icon-Add"></i>Add package</a>

        @if (Model.LiveProjects.Any())
        {
            <strong>Active Packages</strong>
            <em>Active packages are visible to everyone. If a package is no longer actively maintained please flag it as 'retired'.</em>
            foreach (var project in Model.LiveProjects)
            {
                @RenderProject(project)
            }
        }

        @if (Model.DraftProjects.Any())
        {
            <strong>Draft Packages</strong>
            <em>Draft packages are visible only to you, not anyone else.</em>
            foreach (var project in Model.DraftProjects)
            {
                @RenderProject(project)
            }
        }

        @if (Model.ContribProjects.Any())
        {
            <strong>Package Contributions</strong>
            <em>You are flagged as a contributor on the following projects:</em>
            foreach (var project in Model.ContribProjects)
            {
                @RenderProject(project)
            }
        }

        @if (Model.RetiredProjects.Any())
        {
            <strong>Retired Packages</strong>
            <em>You have indicated that these projects are no longer being maintained. They are still visible in searches so that people can read the reason why it has been retired.</em>
            foreach (var project in Model.RetiredProjects)
            {
                @RenderProject(project)
            }
        }

    </div>
</div>

@helper RenderProject(IListingItem project)
{
    <div class="box liked">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img src="@(string.IsNullOrEmpty(project.DefaultScreenshot) ? "/css/img/package2.png" : project.DefaultScreenshot)?width=65&height=65" alt="">
            </div>
            <div class="col-xs-10 col-md-6">
                <div class="forum-thread-text">
                    <h3><a href="@project.NiceUrl">@project.Name</a></h3>
                    <p>
                        @project.Description.StripHtmlAndLimit(45) ...
                        <br />
                        <a href="details?projectId=@project.Id">Edit</a>
                        <a href="manage-package-forums/?id=@project.Id">Forums</a>
                        <a href="manage-team/?id=@project.Id">Team</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="other">
                    <div class="package-badge">
                        <span class="package-name">version</span>
                        <span class="package-number">@project.CurrentVersion</span>
                    </div>
                    <span class="stats">
                        <span class="downloads">
                            @project.Downloads<span><i class="icon-Download-alt"></i></span>
                        </span>
                        <span class="karma">
                            @project.Karma<span><i class="icon-Hearts"></i></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}