@using LibGit2Sharp
@using OurUmbraco.MarketPlace.Interfaces
@using OurUmbraco.Project
@model OurUmbraco.Our.Models.MyProjectsModel

<div class="profile-settings">
    <div class="profile-settings-packages packages-content">
        <a href="/member/profile/projects/details?projectId=" class="button green"><i class="icon-Add"></i>Add package</a>

        <div class="packages-listing">
            
            <div>

                <strong>My Packages</strong>

                <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-my-active">Active (@Model.MyLiveProjects.Count())</li>
                    <li class="tab-link" data-tab="tab-my-draft">Draft (@Model.MyDraftProjects.Count())</li>
                    <li class="tab-link" data-tab="tab-my-retired">Retired (@Model.MyRetiredProjects.Count())</li>
                </ul>

                <div id="tab-my-active" class="tab-content current">
                    <h3>My Active Packages</h3>
                    <em>Active packages are visible to everyone.</em>
                    @foreach (var project in Model.MyLiveProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

                <div id="tab-my-draft" class="tab-content">
                    <h3>My Draft Packages</h3>
                    <em>Draft packages are visible only to you (and your team).</em>
                    @foreach (var project in Model.MyDraftProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

                <div id="tab-my-retired" class="tab-content">
                    <h3>My Retired Packages</h3>
                    <em>Retired packages are still visible in searches so that people can see the reason for its retirement.</em>
                    @foreach (var project in Model.MyRetiredProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

            </div>
            
            <div>

                <strong>Package Contributions</strong>

                <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-contrib-active">Active (@Model.ContribLiveProjects.Count())</li>
                    <li class="tab-link" data-tab="tab-contrib-draft">Draft (@Model.ContribDraftProjects.Count())</li>
                    <li class="tab-link" data-tab="tab-contrib-retired">Retired (@Model.ContribRetiredProjects.Count())</li>
                </ul>

                <div id="tab-contrib-active" class="tab-content current">
                    <h3>Active Package Contributions</h3>
                    <em>Active packages are visible to everyone.</em>
                    @foreach (var project in Model.ContribLiveProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

                <div id="tab-contrib-draft" class="tab-content">
                    <h3>Draft Package Contributions</h3>
                    <em>Draft packages are visible only to the owner and the team.</em>
                    @foreach (var project in Model.ContribDraftProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

                <div id="tab-contrib-retired" class="tab-content">
                    <h3>Retired Package Contributions</h3>
                    <em>Retired packages are still visible in searches so that people can see the reason for its retirement.</em>
                    @foreach (var project in Model.ContribRetiredProjects)
                    {
                        @RenderProject(project)
                    }
                </div>

            </div>

        </div>

    </div>
</div>

@helper RenderProject(IListingItem project, bool owner = false)
{
    <div class="box liked">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img src="@(string.IsNullOrEmpty(project.DefaultScreenshot) ? "/css/img/package2.png" : project.DefaultScreenshot)?width=65&height=65" alt="">
            </div>
            <div class="col-xs-10 col-md-6">
                <div class="forum-thread-text">
                    <h3><a href="@project.NiceUrl">@project.Name</a></h3>
                    <p>
                        @project.Description.StripHtmlAndLimit(45) ...
                    </p>
                    <div class="list-buttons category">
                        <a href="details?projectId=@project.Id">
                            <i class="icon-Edit"></i><span>Edit</span>
                        </a>
                        <a href="manage-package-forums/?id=@project.Id" class="edit-post">
                            <i class="icon-Chat"></i><span>Forums</span>
                        </a>
                        <a href="manage-team/?id=@project.Id" class="edit-post">
                            <i class="icon-Users"></i><span>Team</span>
                        </a>
@*                         @if (owner) *@
@*                         { *@
@*                           <a href="api-keys/?id=@project.Id" class="edit-post"> *@
@*                             <i class="icon-Key"></i><span>API Keys</span> *@
@*                           </a> *@
@*                         } *@
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="other">
                    <div class="package-badge">
                        <span class="package-name">version</span>
                        <span class="package-number">@project.CurrentVersion</span>
                    </div>
                    <span class="stats">
                        <span class="downloads">
                            @project.Downloads<span><i class="icon-Download-alt"></i></span>
                        </span>
                        <span class="karma">
                            @project.Karma<span><i class="icon-Hearts"></i></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
