@inherits UmbracoViewPage<IPublishedContent>
@using System.Drawing
@using OurUmbraco.Forum.Extensions
@using OurUmbraco.Forum.Models
@using OurUmbraco.Forum.Services
@using OurUmbraco.Our
@using Umbraco.Core.Cache
@{
    MemberData profile = null;
    if (Members.IsLoggedIn())
    {
        var userName = Members.CurrentUserName;

        profile = ApplicationContext.ApplicationCache.RuntimeCache
            .GetCacheItem<MemberData>("MemberData" + userName,
                GetMemberData, TimeSpan.FromMinutes(5));
    }
}

@functions
{
    public class MemberData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string TwitterHandle { get; set; }
        public int Karma { get; set; }
        public bool IsAdmin { get; set; }
        public IEnumerable<string> Roles { get; set; }
        public IEnumerable<ReadOnlyTopic> LatestTopics { get; set; }
        public int NumberOfForumPosts { get; set; }
        public string Avatar { get; set; }
        public Image AvatarImage { get; set; }
    }

    public MemberData GetMemberData()
    {
        var member = Members.GetCurrentMember();
        var avatarImage = Utils.GetMemberAvatarImage(member);

        var roles = member.GetRoles();

        var topicService = new TopicService(ApplicationContext.DatabaseContext);
        var latestTopics = topicService.GetLatestTopicsForMember(member.Id, maxCount: 100);

        var memberData = new MemberData
        {
            Id = member.Id,
            Name = member.Name,
            AvatarImage = avatarImage,
            Roles = roles,
            LatestTopics = latestTopics,
            Avatar = Utils.GetMemberAvatar(member, 100),
            NumberOfForumPosts = member.ForumPosts(),
            Karma = member.Karma(),
            TwitterHandle = member.GetPropertyValue<string>("twitter").Replace("@", string.Empty),
            IsAdmin = member.IsAdmin()
        };

        return memberData;
    }
}

<div class="quick-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (profile != null)
                {
                    <div class="close">
                        <i class="icon-Delete"></i>Close
                    </div>
                    <div class="settings">
                        <a href="/member/profile"><i class="icon-Settings"></i>Edit profile</a>
                    </div>

                    <div class="user-image">
                        @Html.Raw(profile.Avatar)
                    </div>

                    <div class="user-profile">
                        <h2>@profile.Name</h2>
                        <div class="posts">

                            @profile.NumberOfForumPosts

                            @if (profile.NumberOfForumPosts == 0 || profile.NumberOfForumPosts > 1)
                            {
                                <text>Posts</text>
                            }
                            else
                            {
                                <text>Post</text>
                            }
                        </div>
                        <div class="karma">
                            @profile.Karma
                        </div>
                        @if (string.IsNullOrWhiteSpace(profile.TwitterHandle) == false)
                        {
                            <div class="user-twitter">
                                <a href="https://twitter.com/@profile.TwitterHandle">&commat;<span>@profile.TwitterHandle</span></a>
                            </div>
                        }
                        @if (profile.Roles.Any())
                        {
                            <span class="roles">
                                @foreach (var role in profile.Roles)
                                {
                                    <span class="@role">@role</span>
                                }
                            </span>
                        }
                        <div class="public-profile">
                            <a href="/member/@profile.Id">View my public profile</a>
                        </div>
                        @if (profile.IsAdmin)
                        {
                            <div class="public-profile">
                                <a href="/antispam">Check the spam queue</a>
                            </div>
                        }
                        <div class="log-out">
                            <a href="/umbraco/Surface/Login/Logout">Log out</a>
                        </div>
                    </div>

                    if (profile.AvatarImage != null && (profile.AvatarImage.Width < 400 || profile.AvatarImage.Height < 400))
                    {
                        <div class="user-notifications">
                            <small>
                                Your Notifications
                            </small>
                            <a href="/member/profile" class="user-notification__green">
                                <div class="user-notification-text">
                                    <p>Your profile picture is a little on the small side, It would look <strong>much nicer</strong> if you could update it to be larger image.</p>
                                </div>
                            </a>
                        </div>
                    }

                    <div class="user-latest-posts">
                        <small>
                            Activity in threads you participated in
                        </small>
                        @foreach (var topic in profile.LatestTopics)
                        {
                            var forum = Umbraco.TypedContent(topic.ParentId);
                            // if forum == null then it's been hidden/unpublished (example: v5 forum)
                            // if this is the case: don't show forum post in list
                            if (forum != null)
                            {
                                <a href="@topic.GetUrl()" class="forum-thread @(topic.Answer != 0 ? "solved" : null)">
                                    <div class="forum-thread-text">
                                        <h3>@topic.Title</h3>
                                        <p>
                                            @if (topic.Replies != 0 && !string.IsNullOrEmpty(topic.LastReplyAuthorName))
                                            {
                                                <text>last edited by @topic.LastReplyAuthorName</text>
                                            }
                                            else
                                            {
                                                <text>created by @topic.AuthorName</text>
                                            }
                                            @topic.Updated.ConvertToRelativeTime()
                                        </p>
                                    </div>
                                    <div class="category frontend"><span class="cat">@forum.Name</span></div>
                                </a>
                            }
                        }
                    </div>
                }
                else
                {
                    <a href="/member/login">Sign in</a>  <a href="/member/Signup">Register</a>
                }
            </div>
        </div>
    </div>
</div>