@inherits UmbracoViewPage<uForum.Models.ReadOnlyComment>
@using uForum;

@{
    var currentMember = Members.GetCurrentMember();
    var answer = (int)ViewData["answer"];
    string[] roles = { };
    
    var commentAuthor = Members.GetById(Model.MemberId);
    // author could have been deleted (spammer) so make sure to check if they exist
    if (commentAuthor != null)
    {
        roles = Roles.GetRolesForUser(commentAuthor.GetPropertyValue<string>("UserName"));
    }
    
}

@if (commentAuthor != null)
{
    <li class="comment @Umbraco.If(Model.ParentCommentId > 0, "level-2") @Umbraco.If(Model.Id == answer, "solution")" id="comment-@Model.Id">
        <div class="meta">
            <div class="profile">
                <a href="/member/@commentAuthor.Id">@commentAuthor.Name</a> <span class="hide-xs">has in total, </span>@commentAuthor.Karma() karma points

                @if (roles.Length > 1)
                {
                    <span class="roles">
                    @foreach (var role in roles.Skip(1))
                    {
                        if (role == "CoreContrib")
                        {
                            <span class="c-trib">C-trib</span>
                        }
                        else
                        {
                            <span class="@role.ToLower()">@role</span>
                        }
                    }
                </span>
                }

            </div>
            <div class="time" title="@(string.Format("{0:ddd, dd MMM yyyy} {0:HH:mm:ss} UTC+{1}", Model.Created, TimeZone.CurrentTimeZone.GetUtcOffset(DateTime.Now)))">
                @Model.Created.ConvertToRelativeTime()
            </div>
        </div>

        <div class="comment-inner">
            <a href="/member/@commentAuthor.Id" class="photo">@Html.Raw(our.Utils.GetMemberAvatar(commentAuthor, 48))</a>

            <div class="highfive highfive-comment">

                <div class="highfive-count">
                    @Model.Score
                </div>
                @if (Members.IsLoggedIn() && !uPowers.Library.Utils.HasVoted(currentMember.Id, Model.Id, "powersComment"))
                {
                    if (currentMember.Id != Model.MemberId)
                    {
                        <a href="#" data-id="@Model.Id"><img src="/assets/images/highfive.svg" alt="high five" />High Five</a>

                    }
                }
            </div>

            <div class="body markdown-syntax">
                @Model.Body.Sanitize()
            </div>
        </div>

        @if (Members.IsLoggedIn())
        {

            <div class="actions">
                @if (answer == 0 && (Members.IsAdmin() || currentMember.Id == Model.TopicAuthorId))
                {
                    <a href="#" class="solved" data-id="@Model.Id">
                        <i class="icon-Check"></i><span>Mark as solution</span>
                    </a>
                }

                <a href="#" id="copy-link" class="copy-link" data-id="#comment-@Model.Id">
                    <i class="icon-Link"></i><span>Copy Link</span>
                </a>

                @if (Model.ParentCommentId <= 0)
                {
                    <a href="#" data-author="@commentAuthor.Name" data-topic="@Model.TopicId" data-parent="@Model.Id" data-controller="comment" class="forum-reply reply">
                        <i class="icon-Reply-arrow"></i><span>Reply</span>
                    </a>
                }

                @if (Members.IsAdmin() || currentMember.Id == Model.MemberId)
                {
                    <a href="#" class="delete-reply" data-id="@Model.Id">
                        <i class="icon-Delete-key"></i><span>Delete post</span>
                    </a>


                    if (Members.IsAdmin())
                    {
                        if (Model.IsSpam)
                        {
                            <a href="#" class="mark-as-ham" data-id="@Model.Id" data-controller="comment">
                                <i class="icon-Alert-alt"></i><span>Mark as ham</span>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="mark-as-spam" data-id="@Model.Id" data-controller="comment">
                                <i class="icon-Alert-alt"></i><span>Mark as spam</span>
                            </a>
                        }
                    }
                }


                @if (currentMember.Id == Model.MemberId)
                {
                    <a href="#" class="edit-post" data-id="@Model.Id" data-topic="@Model.TopicId" data-controller="comment">
                        <i class="icon-Edit"></i><span>Edit post</span>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="actions">
                <a href="#" id="copy-link" class="copy-link" data-id="@Model.Id">
                    <i class="icon-Link"></i><span>Copy Link</span>
                </a>
            </div>
        }
    </li>
}