@inherits Umbraco.Web.Mvc.UmbracoViewPage<uForum.Models.Comment>
@using uForum;

@{
    var answer = (int)ViewData["answer"];
    var commentAuthor = Model.Author();
    var roles = System.Web.Security.Roles.GetRolesForUser();
    var mem = Members.GetCurrentMember();
}

<li class="comment @Umbraco.If(Model.ParentCommentId > 0, "level-2") @Umbraco.If(Model.Id == answer, "solution")" id="comment-@Model.Id">
    <div class="meta">
        <div class="profile">
            <a href="/member/@commentAuthor.Id">@commentAuthor.Name</a> has in total, @commentAuthor.Karma() karma points 

            @if (roles.Length > 1)
            {
                <span class="roles">
                    @foreach (var role in roles.Skip(1))
                    {
                        if (role == "CoreContrib")
                        {
                            <span class="c-trib">C-trib</span>
                        }
                        else
                        {
                            <span class="@role.ToLower()">@role</span>
                        }
                    }
                </span>
            }

        </div>
        <div class="time">
            @Model.Created.ConvertToRelativeTime()
        </div>
    </div>

    <div class="comment-inner">

        <a href="/member/@commentAuthor.Id" class="photo">
            <img src="@commentAuthor.Avatar()">
        </a>

   
            <div class="highfive" data-id="@Model.Id">

                <div class="highfive-count">
                    @Model.Score
                </div>
                @if (Members.IsLoggedIn() && !uPowers.Library.Utills.HasVoted(mem.Id,Model.Id,"powersComment"))
                {
                    if (mem.Id != Model.MemberId)
                    {
                    <a href="#"><img src="/assets/images/highfive.svg" alt="high five" />High Five</a>
    
                    }
                }
            </div>
      
        <div class="body markdown-syntax">
            @Model.Body.Sanitize()
        </div>
    </div>

    @if (Members.IsLoggedIn())
    {
       

        <div class="actions">
           
           
            @if (answer == 0 && (Members.IsAdmin() || mem.Id == Model.MemberId))
            {
                <a href="#" class="solved" data-id="@Model.Id">
                    <i class="icon-Check"></i><span>Mark as solution</span>
                </a>
            }
            
            @*
                @if(mem.Id != Model.MemberId){
                <div class="karma">
                    <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/like_outline-16.png" alt=""> Give Karma</a>
                </div>
                }
            *@

            <a href="#" class="copy-link" data-id="@Model.Id">
                <i class="icon-Out"></i><span>Copy Link</span>
            </a>

            @if (Model.ParentCommentId <= 0)
            {
                <a href="#" data-topic="@Model.TopicId" data-parent="@Model.Id" data-controller="comment" class="forum-reply reply">
                    <i class="icon-Reply-arrow"></i><span>Reply</span>
                </a>
            }



        </div>
    }
</li>