@model OurUmbraco.Community.Models.GitHubContributorsModel

@if (Model.Contributors.Any())
{
    foreach (var contributor in Model.Contributors)
    {
        var author = contributor.Author;
        if (author != null)
        {
            <a href="@author.HtmlUrl" class="contributor" target="_blank">
                <div class="avatar">
                    <img alt="@author.Login" src="@author.AvatarUrl" title="@author.Login" />
                    <span class="contrib-count" title="@(contributor.Total + " contributions")">@contributor.Total</span>
                </div>
            </a>
        }
    }
}

else
{
    <h2>Could not load recent GitHub contributors.</h2>
}