@model OurUmbraco.Community.Models.GitHubContributorsModel

@foreach (var contributor in Model.Contributors)
{
    <a href="@contributor.HtmlUrl" class="contributor" target="_blank">
        <div class="avatar">
            <img alt="@contributor.Login" src="@contributor.AvatarUrl" title="@contributor.Login" />
            <span class="contrib-count" title="@(contributor.Contributions + " contributions")">@contributor.Contributions</span>
        </div>
    </a>
}

@if (Model.Contributors.Any() == false)
{
    <h2>Could not load recent GitHub contributors.</h2>
}