@model OurUmbraco.Community.Models.GitHubContributorsModel

@foreach (var contributor in Model.Contributors)
{
    <a href="@contributor.Url">
        <div class="avatar">
            <img alt="@contributor.Login" src="@contributor.AvatarUrl" title="@contributor.Login"/>
            <span>@contributor.Contributions</span>
        </div>
    </a>
}

@if (Model.Contributors.Any() == false)
{
    <h2>Could not load recent GitHub contributors.</h2>
}