@model OurUmbraco.Community.Models.GitHubContributorsModel

@if (Model.Contributors.Any())
{
    foreach (var contributor in Model.Contributors)
    {
        var author = contributor.First().Author;
        if (author != null)
        {
            <a href="@author.HtmlUrl" class="contributor" target="_blank">
                <div class="avatar">
                    <img alt="@author.Login" src="@author.AvatarUrl&s=112" title="@author.Login" />
                    <span class="contrib-count" title="@(contributor.Sum(x=>x.Total) + " contributions")">@contributor.Sum(x => x.Total)</span>
                </div>
            </a>
        }
    }
    <div class="loadmore">
        <a class="button transparent" href="#" onclick="loadAllGitHubContributors(); return false;">Load more</a>
    </div>
}

else
{
    <h2>Could not load recent GitHub contributors.</h2>
}