@model OurUmbraco.Community.Models.GitHubContributorsModel

@foreach (var contributor in Model.Contributors)
{
    <a href="@contributor.HtmlUrl" class="contributor" target="_blank">
        <div class="avatar" style="position: relative;">
            <img alt="@contributor.Login" src="@contributor.AvatarUrl" title="@contributor.Login" />
            <span class="contrib-count" title="@(contributor.Contributions + " contributions")">@contributor.Contributions</span>
        </div>
    </a>
}

<style>
    .contributor {
        margin-bottom: 15px;
    }

    .contributor img {
        border: 3px solid #98d768;
    }

    .contrib-count {
        position: absolute;
        left: 25px;
        bottom: 0px;
        text-align: center;
        right: 25px;
        color: #425a2e;
        font-weight: bold;
        background-color: #98d768;
        border-radius: 15px;
    }
</style>

@if (Model.Contributors.Any() == false)
{
    <h2>Could not load recent GitHub contributors.</h2>
}