@using OurUmbraco.Community.People
@using OurUmbraco.Forum.Extensions
@using OurUmbraco.Forum.Models
@model List<DiscourseTopic>

@foreach (var topic in Model)
{
    <a href="@topic.RedirectUrl" class="forum-thread">

        <div class="avatar">
            <img src="@topic.AuthorAvatar" />
        </div>

        <div class="meta">
            <div class="forum-thread-text">
                <h3>@topic.Title</h3>
                <p>
                    <text>last updated by @topic.AuthorName</text>
                    
                    @topic.LastUpdatedFriendly
                </p>
            </div>

            <div class="category">
                <span class="cat">@topic.ForumCategory</span>
            </div>
        </div>
    </a>
}

@if (Model.Any() == false)
{
    <h2>Could not load recent forum activity.</h2>
}