@using OurUmbraco.Community.People
@using Skybrud.Essentials.Security

@inherits UmbracoViewPage<List<OurUmbraco.Community.Controllers.EventFeedModel>>

@foreach (var eventItem in Model) 
{
   <a href="@eventItem.Link" class="forum-thread" target="_blank" rel="noreferrer noopener">
       
        <div class="meetup">
            <img src="@(eventItem.ImageUrl)" alt="" />
        </div>
       
       <div class="meta" style="flex: 1 0 60%;">
           <div class="forum-thread-text">
               <h3>@eventItem.Name</h3>
               <p>@eventItem.Date.ToString("MMM d, yyyy")</p>
               <p>by @eventItem.Organizer</p>
           </div>
       </div>
   </a>
}
@if (Model.Count % 2 == 1) {
    // If there is an odd amount of events, we add a invisible div so the last event doesn't take up the full width
    <div class="forum-thread" style="visibility: hidden;"></div>
}
@if (Model.Any() == false) {
    <h2>Could not load upcoming meetups.</h2>
}
