@using OurUmbraco.Forum.Extensions
@model OurUmbraco.Community.Models.TweetsModel

@if (Model.Tweets == null || Model.Tweets.Any() == false)
{
    <h2>Could not load recent tweets.</h2>
    return;
}

@if (Model.ShowAdminOverView == false)
{
    foreach (var tweet in Model.Tweets)
    {
        <a href="https://twitter.com/@tweet.Author.ScreenName/status/@tweet.Id" class="forum-thread" target="_blank" rel="noreferrer noopener">

            <div class="avatar">
                <img src="@tweet.Author.ProfileImageUrl.Replace("http://", "https://").Replace("_normal.", ".")" />
            </div>

            <div class="meta">
                <div class="forum-thread-text">
                    <h3>@tweet.Text</h3>
                    <p>@tweet.CreatedDate.ConvertToRelativeTime() by @@@tweet.Author.ScreenName</p>
                </div>
            </div>
        </a>
    }


    var membershipHelper = new Umbraco.Web.Security.MembershipHelper(UmbracoContext.Current);
    var member = membershipHelper.GetCurrentMember();
    // Only Seb will see this :D
    if (member != null && member.Id == 4576)
    {
        <p>
            <a href="/umbraco/surface/TwitterSearch/TwitterSearchResult?numberOfResults=100&adminOverview=true">Fight spam</a>
        </p>
    }
}
else
{
    foreach (var tweet in Model.Tweets)
    {
        var twitterHandle = tweet.Author.ScreenName;

        <img src="@tweet.Author.ProfileImageUrl.Replace("http://", "https://").Replace("_normal.", ".")" /><br />
        <h3>@tweet.Text</h3>
        <p>@tweet.CreatedDate.ConvertToRelativeTime() by <a href="https://twitter.com/@twitterHandle/with_replies" target="_blank" rel="noreferrer noopener">@@@twitterHandle (@tweet.Author.ScreenName)</a></p><br />
        <a href="https://twitter.com/@tweet.Author.ScreenName/status/@tweet.Id" target="_blank" rel="noreferrer noopener">https://twitter.com/@tweet.Author.ScreenName/status/@tweet.Id</a><br />

        using (Html.BeginForm("MarkAsSpam", "TwitterSearch"))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="TwitterHandle" value="@twitterHandle" />
            <input type="submit" value="Mark as spam" />
        }

        <hr />
    }
}

